body {
  background-color: #303030;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  font-family: Arial;
}

a {
  text-decoration: none;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  max-width: 100vw;
  overflow: hidden;
}
